.container {
  display: grid;
  grid-template-columns: 5% 1fr 1fr 1fr 5%;
  grid-template-rows: 75px;
  grid-gap: 10px;
  background-color: #fff;
  border-radius: 1px;
}

.item {
}

.title {
   vertical-align: baseline;
   text-align: center;
   font-size: 150%;
  padding: 35px;
   grid-column-start: 1;
   grid-column-end: 6;
   grid-row-start: 1;
   grid-row-end: 2;
  background-color: #edd693;
}
.nav {
   text-align: center;
   grid-column-start: 3;
   grid-column-end: 4;
   grid-row-start: 2;
   grid-row-end: 3;
}
.body {
   grid-column-start: 2;
   grid-column-end: 5;
   grid-row-start: 3;
   grid-row-end: 4;
}
.icons {
   grid-column-start: 2;
   grid-column-end: 5;
   grid-row-start: 4;
   grid-row-end: 5;
   text-align: center;
}

body {
  max-width: 600px;
  margin: auto;
  color: #47484A;
  font-family: sans-serif;
}

footer {
text-align: center;
}

#title {
  text-align: center;
  font-size: 100%;
}

/* unvisited link */
a:link {
    text-decoration: underline;
  color: #47484A;
}

/* visited link */

#nav a:link {
    text-decoration: none;
}

#title a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: underline;
    color: #47484A;
}

/* mouse over link */
a:hover {
    color: #edd693;
}
